<div class="simple-form">
  <h1 class="d-flex justify-content-center mt-2 mb-2" >Edit Race</h1>
  <%= simple_form_for [@event, @race], html: { class: 'event-form' } do |f| %>
    <div class="form-group">
      <%= f.label :name, class: 'form-label' %>
      <%= f.text_field :name, class: 'form-control' %>
    </div>
    <div class="form-group">
      <%= f.label :address, class: 'form-label' %>
      <%= f.text_field :address, class: 'form-control' %>
    </div>
    <div class="form-group">
      <%= f.label :date, class: 'form-label' %>
      <%= f.text_field :date, class: 'form-control' %>
    </div>
    <div class="form-group">
      <%= f.label :photo, class: "form-label" %>
      <%= f.file_field :photo, class: "form-control" %>
    </div>
    <div class="event-buttons">
      <%= f.submit "Submit race", class: "btn edit-button" %>
      <%= link_to "Delete",
        event_path(@race.event),
        data: {turbo_method: :delete, turbo_confirm: "Are you sure?"},
        class: "btn btn-danger"
      %>
    </div>
  <% end %>

</div>