<%= form_with model: @event, html: {class: "event-form"}, local: true do |f| %>
  <div class="form-group">
    <%= f.label :name, class: "form-label" %>
    <%= f.text_field :name, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :photo, class: "form-label" %>
    <%= f.file_field :photo, class: "form-control" %>
  </div>
  <div class="form-group event-buttons">
    <%= f.submit "Save", class: "btn edit-button" %>
    <%= link_to "Delete",
      edit_event_path(@event),
      data: {turbo_method: :delete, turbo_confirm: "Are you sure?"},
      class: "btn btn-danger"
    %>
  </div>
<% end %>