<div class="banner">
 <%= image_tag "patrocinios.jpg", :class => "style_image" %>
</div>

<% if user_signed_in? && policy(@events).new? %>
  <%= link_to "New event", new_event_path %>
<% end %>


<div class="cards">
  <% @events.each do |event| %>
    <% if event.photo.attached? %>
      <%= cl_image_tag event.photo.key %>
    <% end %>
    <div class="cards-infos">
      <%= link_to "", "events/#{event.id}", :class => "card_link" %>
      <div>
        <h2><%= event.name %></h2>
      </div>
      <h2 class="cards-pricing"></h2>
      <%= image_tag "pts.jpg", :class => "cards-user avatar-bordered" %>
    </div>
  <% end %>
</div>


