<div class="banner-container m-2">
  <div class="banner rounded">
    <%= image_tag "patrocinios.jpg", :class => "style_image" %>
  </div>
</div>


<div class="cards-container">
  <% @events.each do |event| %>
    <div class="event-card">
      <% if event.photo.attached? %>
        <%= cl_image_tag event.photo.key, :class => "event-image" %>
      <% end %>
      <%= link_to "", "events/#{event.id}", :class => "card_link" %>
      <div class="card-info">
        <h2><%= event.name %></h2>
        <div class="user-info">
          <%= image_tag "pts.jpg", :class => "user_photo" %>
        </div>
      </div>
    </div>
  <% end %>
</div>


