<!DOCTYPE html>
<html>
  <head>
    <title>Pts</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body>
  <%= render "shared/navbar" %>
  <%= render "shared/flashes" %>
  <div style="min-height: 73vh;">
    <%= yield %>
  </div>
  <%= render "shared/footer" %>
  </body>
</html>
